.buttons {
  height:200px;
  width:200px;
  cursor:pointer;
  border:none;
  float:left;
  padding:none;
  margin:none;
  background-size: contain;
}
body {
  background-color: pink;
}

canvas {
  width: 400px;
  height: 400px;
}
#display{
  background-color: grey;
  color: white;
  visibility: hidden;
  font-family: monospace;
  font-size: 20pt;

}
