.buttons {
  height:200px;
  width:200px;
  cursor:pointer;
  border:none;
  float:left;
  padding:none;
  margin:none;
  background-size: contain;
}
body {
  background-color: pink;
}
canvas {
  width: 400px;
  height: 200px;
}
#display{
  background-color: grey;
  color: white;
  visibility: hidden;
  font-family: monospace;
  font-size: 20pt;
}
#chart{
  background-color: #aa0;
  width: 850px;
  height: 420px;
  visibility: hidden;
  position:absolute;
  top: 250px;
}
h1 {
  padding-left: 100px;
  font-weight: bold;
  font-family: cursive;
  font-size: 20pt;
}
